.crisisImages {

}

.container {
	margin: 20px;
  transform: rotate(90deg);
    width: 200px;
    height: 120px;
}

/* resize images */
.container img {

    width: 100%;

    height: auto;
}

.crisisButton{
margin-top: 25px;
}
